body{

margin:0;
padding:0;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

background:linear-gradient(to right,#ff9a9e,#fad0c4);

font-family:Arial;

overflow:hidden;

}

.container{

text-align:center;

}

h1{

font-size:45px;
color:white;

}

button{

padding:15px 35px;

font-size:22px;

margin:20px;

border:none;

border-radius:50px;

cursor:pointer;

transition:.3s;

}

#yes{

background:#4CAF50;
color:white;

}

#no{

background:red;
color:white;

position:absolute;

}